:root {
  --clr-soft-blue: 231 69% 60%;
  --clr-soft-red: 0 94% 66%;
  --clr-grayish-blue: 229 8% 60%;
  --clr-vd-blue: 229 31% 21%;
  --clr-white: 0 0% 100%;
  --clr-bg-blue: 231 69% 60%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
  margin-top: 3.2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: column;
  align-items: center;
}

.container {
  padding-inline: 3.2rem;
}

.content {
  --gap: 1.4rem;
}

.header,
.main,
.footer {
  width: 100%;
}

.body {
  --gap: 7rem;
  color: hsl(var(--clr-vd-blue));
}
.main {
  --gap: 15rem;
  margin-bottom: 5rem;
  text-align: center;
}
.header__nav {
  flex-direction: row;
}
.nav {
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.nav__menu {
  cursor: pointer;
}
/* -------------------illustration------------------- */
.illustration__view {
  position: relative;
  width: 100%;
}
.illustration__img {
  width: 100%;
}
.hero__view {
  padding-inline: 1.2rem;
}
.illustration__view::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 75% 12rem 0;
  z-index: -1;
  background-color: hsl(var(--clr-bg-blue));
}
.hero__view::after {
  top: 22%;
  right: 0;
  left: auto;
  width: 80%;
  height: 80%;
  border-radius: 0 0 0 9rem;
}
.tab__view::after {
  top: 17%;
  width: min(85%, 54.5rem);
  height: 100%;
}
.tab__view {
  justify-content: end;
}
.tab__view .illustration__img {
  width: min(100%, 57.7rem);
  object-fit: contain;
}

.heading {
  font-weight: 500;
}
.heading--1 {
  margin-top: 2.8rem;
  font-size: 3.2rem;
  line-height: 1.3;
}
.heading--2 {
  font-size: 2.4rem;
}
.heading--3 {
  font-size: 2rem;
}
.para {
  font-size: 1.6rem;
  color: hsl(var(--clr-grayish-blue));
  line-height: 1.5;
}
.para--sm {
  font-size: 1.4rem;
}
.para--dark {
  color: hsl(var(--clr-vd-blue) / 0.7);
  font-size: 1.5rem;
}
.hero {
  --gap: 2rem;
}
.illustration__content {
  --gap: 2rem;
}
.illustration__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 1rem;
  gap: 1.6rem;
}
.btn {
  background-color: hsl(var(--clr-bg-blue));
  color: hsl(var(--clr-white));
  font-size: 1.4rem;
  font-weight: 500;
  padding-block: 1.2rem;
  border-radius: 5px;
  border: 3px solid hsl(var(--clr-bg-blue));
  cursor: pointer;
}
.btn:hover {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-bg-blue));
}
.btn--white {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-vd-blue) / 0.8);
  border-color: hsl(var(--clr-white));
  box-shadow: 0 3px 5px 3px hsl(var(--clr-soft-blue) / 0.1);
}
.btn--white:hover {
  color: hsl(var(--clr-vd-blue) / 0.8);
  border-color: hsl(var(--clr-vd-blue) / 0.8);
}
.btn--red {
  border: none;
  background-color: hsl(var(--clr-soft-red));
  padding-block: 1em;
  border: 3px solid hsl(var(--clr-bg-blue));
  letter-spacing: 1px;
}
.btn--red:hover {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-soft-red));
  border-color: hsl(var(--clr-soft-red));
}
.btn--info {
  padding-inline: 1.8rem;
}
/* ----------------------------------------- */
.features {
  --gap: 4rem;
}
.features__tab {
  --gap: 0;
  width: 100%;
}
.features__tab > * {
  border-bottom: 1px solid hsl(var(--clr-grayish-blue) / 0.3);
  padding-block: 2rem;
  width: 100%;
}
.features__tab > :first-child {
  border-top: 1px solid hsl(var(--clr-grayish-blue) / 0.3);
}
.tab__view {
  margin-block: 3.2rem 8rem;
}

.features__list {
  position: relative;
  color: hsl(var(--clr-vd-blue) / 0.7);
}
.features__list.active {
  color: hsl(var(--clr-vd-blue));
}
.features__list:not(.active) a:hover {
  color: hsl(var(--clr-soft-red));
}
.features__list.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 27%;
  width: 46%;
  height: 4px;
  background-color: hsl(var(--clr-soft-red));
}
.extension {
  --gap: 4rem;
}
.extension__card {
  box-shadow: 0 7px 7px 3px hsl(var(--clr-soft-blue) / 0.1);
  border-radius: 10px;
  padding-block: 5.6rem 2.4rem;
  --gap: 3.2rem;
}
.card__btn {
  align-self: stretch;
  margin-inline: 2.4rem;
}
.card__content {
  --gap: 1rem;
}
.card__button {
  --gap: 2.4rem;
}
/* ------------FAQ------------ */
.FAQ {
  --gap: 4rem;
  font-size: 1.5rem;
}
.FAQ__list {
  --gap: 2.4rem;
}
.FAQ__tab {
  border-bottom: 1px solid hsl(var(--clr-grayish-blue) / 0.3);
}
.FAQ__tab.active .FAQ__answer {
  transform: scale(1);
  opacity: 1;
  height: auto;
  padding-bottom: 2.4rem;
}
.FAQ__tab.active .FAQ__open {
  color: hsl(var(--clr-soft-red));
  transform: rotate(540deg);
}

.FAQ__question {
  align-self: stretch;
  --gap: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.FAQ__question > * {
  pointer-events: none;
}
.FAQ__question:hover .FAQ__Q {
  color: hsl(var(--clr-soft-red));
}
.FAQ__open {
  color: hsl(var(--clr-soft-blue));
  transition: all 250ms linear;
}
.FAQ__answer {
  height: 0;
  transform: scaleY(0);
  opacity: 0;
  transition: all 250ms ease-out;
  transform-origin: top;
}
/* ------------------footer------------------ */
.footer {
  color: hsl(var(--clr-white));
}
.contact {
  background-color: hsl(var(--clr-soft-blue));
  padding-block: 7rem;
  --gap: 4rem;
  text-align: center;
}
.contact__record {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 5px;
}
.contact__form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
  width: 100%;
}
.contact__form > * {
  width: 100%;
}
.contact__email {
  color: hsl(var(--clr-grayish-blue));
  padding-inline: 2rem;
  border: none;
  border-radius: 5px;
}
.footer__nav {
  background-color: hsl(var(--clr-vd-blue));
  --gap: 4.8rem;
  font-size: 1.6rem;
  padding-block: 5rem;
}
.footer__list {
  --gap: 4rem;
}
.footer__media {
  height: 2.8rem;
  flex-direction: row;
  margin-top: 0.8rem;
  --gap: 4rem;
  cursor: pointer;
}
.footer__list :hover {
  color: hsl(var(--clr-soft-red));
}
.footer__media :hover {
  color: hsl(var(--clr-soft-red));
}
.illustration__tab {
  --gap: 4.8rem;
}

@media (max-width: 55em) {
  .header__nav {
    flex-direction: column;
  }
  .header__logo,
  .nav__menu {
    z-index: 1000;
  }
  .header__media {
    display: none;
    margin-top: auto;
  }
  .header__list {
    position: fixed;
    font-weight: 400;
    padding: 0 3.2rem 5rem;
    font-size: 2rem;
    color: hsl(var(--clr-white));
    --gap: 0;
    top: 10.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: hsl(var(--clr-vd-blue) / 0.95);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 250ms ease-out;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 4rem 3.2rem;
    background-color: hsl(var(--clr-white));
    z-index: 100;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    transition: all 250ms ease-out;
  }
  .header__nav.active .menu {
    background-color: hsl(var(--clr-vd-blue) / 0.95);
  }
  .nav__login {
    display: block;
    padding: 1.3rem;
    font-weight: 500;
    border: 3px solid hsl(var(--clr-white));
    border-radius: 5px;
  }
  .header__list > *:not(.header__media) {
    padding-block: 2.6rem;
    border-top: 1px solid hsl(var(--clr-grayish-blue) / 0.3);
    width: 100%;
    text-align: center;
  }
  .header__nav.active .header__media {
    display: flex;
    color: hsl(var(--clr-white));
    z-index: 100000;
    flex-direction: row;
    --gap: 4rem;
  }
  .header__nav.active .header__list {
    opacity: 1;
    transform: scale(1);
  }
  .header__nav.active .nav__menu {
    fill: hsl(var(--clr-white));
  }
  .header__nav.active .header__logo > g > path {
    fill: hsl(var(--clr-white));
  }
  .header__nav.active .header__logo g circle {
    fill: hsl(var(--clr-white));
  }
  .header__nav.active .header__logo circle + path {
    fill: hsl(var(--clr-vd-blue) / 0.95);
  }
  .footer__logo > g > path {
    fill: hsl(var(--clr-white));
  }
  .tab__btn {
    display: none;
  }
  .main {
    margin-top: 4rem;
  }

  .illustration__tab {
    transform: translateX(-100%);
    position: absolute;
    transition: all 250ms ease-out;
  }
  .illustration__tab.active {
    transform: translateX(0);
    position: relative;

    display: flex;
  }
}
