@use '../abstracts' as *;
@use'../base' as *;

.contact {
    @include flex($gap: 4rem);
    @include container($p-block: 7rem);
    background-color: $clr-soft-blue;

    @include breakpoint(desktop) {
        >* {
            max-width: 43rem;
        }
    }

    &__record {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 5px;
    }

    &__intro {
        @extend %intro;

        @include breakpoint(desktop) {
            gap: 4rem;
            letter-spacing: 1px;
        }
    }

    &__form {
        @include flex($align: stretch);
        width: 100%;

        @include breakpoint(desktop) {
            flex-direction: row;
        }

        >* {
            height: 4.7rem;
            font-size: 1.4rem;
            line-height: 1;
            font-family: inherit;
        }
    }

    &__container {
        display: flex;
        flex: 1;
        position: relative;
        transition: all 250ms ease-in-out;

        &.invalid,
        &.valid {
            @include breakpoint(mobile) {
                margin-bottom: 2.6rem;
            }
        }
    }

    &__email {
        flex-grow: 1;
        height: 4.7rem;
        padding-inline: 2rem;
        border: 3px solid $clr-white;
        border-radius: 5px;
        outline: none;
    }


    &__container.invalid &__email {
        border-color: $clr-soft-red;
        border-radius: 5px 5px 0 0;

        &::placeholder {
            color: $clr-vd-blue;
            opacity: 1;
        }
    }

    &__container.valid &__email {
        border-color: $clr-vd-blue;
        border-radius: 5px 5px 0 0;
    }

    &__error {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        font: {
            size: 1rem;
            weight: 500;
            style: italic;
        }

        text-align: left;
        padding: .8rem 1rem;
        border-radius: 0 0 5px 5px;
        opacity: 0;
        transform: translateY(90%) scaleY(0);
        transform-origin: top;
        transition: all 250ms ease-in-out;

        &-icon {
            position: absolute;
            right: 1rem;
            top: 50%;
            opacity: 0;
            transform: translateY(-50%) scale(0);
            transition: all 250ms ease-in-out;
        }
    }

    &__container.invalid &__error {
        background-color: $clr-soft-red;
        opacity: 1;
        transform: translateY(90%) scaleY(1);

        &-icon {
            opacity: 1;
            transform: translateY(-50%) scale(1);
        }
    }

    &__container.valid &__error {
        background-color: $clr-vd-blue;
        opacity: 1;
        transform: translateY(90%) scaleY(1);
    }
}

.footer {
    color: $clr-white;
    background-color: $clr-vd-blue;

    &__nav {
        @include flex($gap: 4.8rem);
        @include container($p-block: 5.4rem);
        font-size: 1.5rem;
        letter-spacing: 3px;
        text-transform: uppercase;

        @include breakpoint(desktop) {
            flex-direction: row;
            gap: min(5%, 7rem);
            padding-block: 3.2rem;
        }
    }

    &__logo {
        path {
            fill: $clr-white;
        }
    }

    &__list {
        @include flex($justify: space-between, $gap: 4rem);

        @include breakpoint(desktop) {
            flex-direction: row;
            gap: 0;
            width: min(50%, 37rem);
        }
    }

    &__media {
        @include flex($direct: row, $gap: 4.8rem);
        flex-direction: row;

        @include breakpoint(desktop) {
            gap: min(4rem, 3vw);
            margin-left: auto;
        }
    }
}