@use '../abstracts' as *;
@use'../base' as *;

.contact {
    @include flex($gap: 4rem);
    @include container($p-block: 7rem);
    background-color: $clr-soft-blue;

    @include breakpoint(desktop) {
        >* {
            max-width: 43rem;
        }
    }

    &__record {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 5px;
    }

    &__intro {
        @extend %intro;

        @include breakpoint(desktop) {
            gap: 4rem;
            letter-spacing: 1px;
        }
    }

    &__form {
        @include flex($align: stretch);
        width: 100%;

        @include breakpoint(desktop) {
            flex-direction: row;
        }

        >* {
            height: 4.7rem;
            font-size: 1.4rem;
            line-height: 1;
            font-family: inherit;
        }
    }

    &__email-container {
        display: flex;
        flex: 1;
        position: relative;
        transition: all 250ms ease-in-out;

        &.active {
            @include breakpoint(mobile) {
                margin-bottom: 2.3rem;
            }
        }
    }

    &__email {
        color: $clr-grayish-blue;
        padding-inline: 2rem;
        border: 3px solid $clr-white;
        outline: none;
        border-radius: 5px;
        flex-grow: 1;
        height: 4.7rem;

        &.invalid,
        &.empty {
            width: 0;
            color: $clr-vd-blue;
            border-color: $clr-soft-red;
            border-radius: 5px 5px 0 0;
        }
    }

    &__error {
        position: absolute;
        left: 0;
        bottom: 0;
        max-height: 0;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        font-style: italic;
        padding: .5rem 1rem .8rem;
        border-radius: 0 0 5px 5px;
        text-align: left;
        opacity: 0;
        transition: all 250ms ease-in-out;

        &.active {
            background-color: $clr-soft-red;
            bottom: -2.3rem;
            max-height: 2.3rem;
            opacity: 1;
        }

        &-icon {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 250ms ease-in-out;
        }

        &-icon.active {
            opacity: 1;
        }
    }
}

.footer {
    color: $clr-white;
    background-color: $clr-vd-blue;

    &__nav {
        @include flex($gap: 4.8rem);
        @include container($p-block: 5.4rem);
        font-size: 1.5rem;
        letter-spacing: 3px;
        text-transform: uppercase;

        @include breakpoint(desktop) {
            flex-direction: row;
            gap: min(5%, 7rem);
            padding-block: 3.2rem;
        }
    }

    &__logo {
        path {
            fill: $clr-white;
        }
    }

    &__list {
        @include flex($justify: space-between, $gap: 4rem);

        @include breakpoint(desktop) {
            flex-direction: row;
            gap: 0;
            width: min(50%, 37rem);
        }
    }

    &__media {
        @include flex($direct: row, $gap: 4.8rem);
        flex-direction: row;

        @include breakpoint(desktop) {
            gap: min(4rem, 3vw);
            margin-left: auto;
        }
    }
}