@use '../abstracts' as *;

.card {
    @include flex($gap: 4rem);
    box-shadow: 0 7px 7px 3px rgba($clr-soft-blue, 0.1);
    border-radius: 10px;
    padding-block: 5.6rem 2.4rem;

    &__content {
        @include flex($gap: 1rem);
    }

    &__button {
        @include flex($gap: 2.4rem);

        .btn--blue {
            align-self: stretch;
            margin-inline: 2.4rem;
            padding-inline: 1rem;
        }
    }
}