@use '../abstracts' as *;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
    margin-top: 3.2rem;
    text-align: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    @include breakpoint(desktop) {
        &:hover {
            color: $clr-soft-red;
        }
    }
}

img {
    max-width: 100%;
}

.main {
    @include flex($gap: 15rem);
    @include container();
    margin-block: 15rem;
}