@use '../abstracts' as *;

.heading {
    &--1 {
        @include heading(clamp(3.2rem, 1.6rem + 2vw, 4.8rem), 1.2);
    }

    &--2 {
        @include heading(clamp(2.4rem, 1.6rem + 1.5vw, 2.8rem), 1.2);
    }

    &--3 {
        @include heading(2rem);
    }
}

.para {
    font-size: clamp(1.5rem, 1rem + 1vw, 1.8rem);
    line-height: 1.5;
    color: $clr-grayish-blue;

    &--sm {
        @extend .para;
        font-size: 1.5rem;
    }
}