@use './colors' as *;

@mixin flex($direct: column, $justify: center, $align: center, $gap: 1.6rem) {
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin container($p-inline: 3.2rem, $p-block: 0) {
    padding-inline: $p-inline;
    padding-block: $p-block;

    @include breakpoint(desktop) {
        padding-inline: 6vw;
    }
}

@mixin btn($clr, $bg-clr, $clr-hvr: $bg-clr, $bg-hvr: $clr) {
    color: $clr;
    background-color: $bg-clr;
    border: 3px solid $bg-clr;

    &:hover {
        color: $clr-hvr;
        background-color: $bg-hvr;
        border-color: $clr-hvr;
    }
}

@mixin heading($size, $height: 1) {
    font-weight: 500;
    font-size: $size;
    line-height: $height;
}

@mixin fixed($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin background($top, $right, $left, $border-tr, $border-br, $border-bl, $width, $height) {
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: $top;
        right: $right;
        bottom: 0;
        left: $left;
        width: $width;
        height: $height;
        background-color: $clr-soft-blue;
        border-radius: 0 $border-tr $border-br $border-bl;
        z-index: -1;
    }
}

@mixin breakpoint ($size) {
    @if $size ==mobile {
        @media (max-width:40.999em) {
            @content;
        }
    }

    @else if $size ==desktop {
        @media (min-width:41em) {
            @content;
        }
    }
}