@use './colors' as *;

@mixin flex($direct: column, $justify: center, $align: center, $gap: 1.6rem) {
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin container($p-inline: 3.2rem, $p-block: 0) {
    padding-inline: $p-inline;
    padding-block: $p-block;

    @include breakpoint('min-width: 41em') {
        padding-inline: 6vw;
    }
}

@mixin background($left: -3.2rem, $right: auto, $top: 22%, $t-right: 100vw, $b-right: 100vw, $b-left: 0, $width: 85%, $height: 100%) {
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: $left;
        right: $right;
        z-index: -1;
        background-color: $clr-soft-blue;
        top: $top;
        width: $width;
        height: $height;
        border-radius: 0 $t-right $b-right $b-left;
    }
}

@mixin breakpoint ($size) {
    @media ($size) {
        @content;
    }
}